.container-banner-multi {
    padding: 2rem;

    @include media-size-l {
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: relative;
        top: 3rem;
    }
}

.container-banner {
    margin: 1rem;

    @include media-size-l {
        width: 220px;
        height: 250px;
    }

    &__img {
        width: 100%;
        @include media-size-l {
            height: 150px;
        }
    }

    &__div-text {
        position: relative;
        bottom: 1rem;
        padding: 1rem;
        background-color: white;
        @include border-shadow;
        border-radius: 15px;
        width: 100%;

        @include media-size-l {
            width: 220px;
            height: 150px;
        }
    }
}

.container-contact {
    background: $background-color-secondary;
    padding: 2rem;
    color: white;

    @media screen and (min-width: 1024px) {
        padding: 10rem 5rem 0 5rem;
        display: flex;
        justify-content: space-around;
    }

    &__question1 {
        display: flex;
        margin: 1rem 0 1rem 0;
    }

    &__chevron {
        height: 15px;
        margin: 0 1rem 0 0;
    }

    &__border-left {
        border-left: 2px dotted white;
        padding: 1rem;
    }

    &__text-btn {
        margin: 2rem 0;
        border-radius: 0 15px 15px 15px;
        text-align: center;
        padding: 2rem 1rem 0 1rem;
        @include flex-column;
        justify-content: space-between;
        background-color: white;
        color: black;

        @include media-size-l {
            margin: 0 0 2rem 0;
            text-align: start;
        }

    }

    &__text {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 2rem;

    }

}

.bg-w-footer {
    padding: 5rem 0 5rem 0;

    @include media-size-l {
        display: none;
    }

    &__liens {
        margin: 2rem 3rem;
        display: flex;
        justify-content: space-between;
    }

    &__liens:nth-child(1),
    &__liens:nth-child(2) {
        border-bottom: 1px solid rgba(125, 121, 121, 0.314);
        padding-bottom: 1rem;
    }

    &__chevron {
        height: 25px
    }



}

.logo-fondasol-footer {
    @include flex-column;
    width: 15rem;
    margin: 0 auto;

    @include media-size-l {
        width: 10rem;
    }

    &__img-cadenas {
        width: 2rem;
        margin: 1rem auto;
    }
}

.reseaux {
    text-align: center;

    &__logos {
        margin: 1rem 0 1rem 0;
    }

    &__img {
        margin: 0.5rem;

        @include media-size-l {
            height: 30px;
            width: 30px;
        }
    }
}

.bg-w-footer-desk {
    display: none;

    @media screen and (min-width: 1024px) {
        padding: 3rem 2rem 3rem 2rem;
        display: grid;
        grid-template-columns: 1.5fr repeat(3, 1fr) 2fr;
        grid-template-rows: 1fr;
        grid-column-gap: 30px;
    }

    &__certifications-logos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }

    &__logos-img {
        height: 50px;
        width: 60px;
    }
}

.newsletter {
    background-color: rgba(209, 202, 202, 0.323);
    border-radius: 0 15px 15px 15px;
    padding: 1rem;
    height: fit-content;
    width: fit-content;
    margin: auto;

    &__flex {
        display: flex;
    }

    &__input {
        border: none;
        border-radius: 15px 0 0 15px;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary-color;
        color: white;
        border: none;
        border-radius: 0 10px 10px 10px;
        padding: 1rem 2rem;
        font-size: 18px;
        font-weight: bold;
    }

}