.navbar-bottom {
    @include media-size-l {
        display: none;

    }

    z-index: 1;
    position: fixed;
    bottom: 0;
    @include flex-row;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    border-radius: 50% 50% 0 0;
    @include border-shadow;
    background-color: #fff;

    &__item {
        @include flex-column;
        @include center;
        width: 33%;
        color: #000;
        font-size: 12px;
        font-weight: bold;
        text-decoration: none;
    }

    &__item:nth-child(2) {
        background-color: #f49f0169;
        border-radius: 100%;
        @include px-height-width(80, 80);
        color: orange;
    }
}