.navbar-top {
  display: none; }
  @media screen and (min-width: 1024px) {
    .navbar-top {
      display: flex;
      margin: 0 2rem 5rem 2rem;
      background-color: white;
      border-radius: 0 0 15px 15px; }
      .navbar-top__logo {
        box-sizing: border-box;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        border-radius: 0 0 15px 15px;
        height: 8rem;
        position: absolute;
        background-color: white;
        top: 0;
        padding: 2rem 1rem 2rem 1rem;
        margin-left: 3rem; }
      .navbar-top__searchbar {
        display: flex;
        flex-direction: row;
        align-items: center;
        box-sizing: border-box;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        margin: auto 0 auto 25rem;
        width: 100%;
        height: 100%; }
      .navbar-top__searchbar-input {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 15px;
        padding: 1rem 3rem 1rem 1rem; }
      .navbar-top__searchbar-loupe {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem; }
      .navbar-top__enveloppe {
        margin: auto 2rem auto 2rem;
        width: 30px;
        height: 30px; }
      .navbar-top__enveloppe:hover {
        cursor: pointer; }
      .navbar-top__choose-lang {
        display: flex; }
      .navbar-top__menu {
        display: flex;
        background-color: #eb5d13;
        border-radius: 15px 0 15px 15px; }
      .navbar-top__menu-img {
        width: 2rem;
        height: 2rem;
        margin: auto 1rem auto 1rem; }
      .navbar-top__menu-text {
        margin: auto 1rem auto 1rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: white; } }

.navbar-bottom {
  z-index: 1;
  position: fixed;
  bottom: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  border-radius: 50% 50% 0 0;
  box-sizing: border-box;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff; }
  @media screen and (min-width: 1024px) {
    .navbar-bottom {
      display: none; } }
  .navbar-bottom__item {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none; }
  .navbar-bottom__item:nth-child(2) {
    background-color: #f49f0169;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    color: orange; }

.header-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1rem 3rem 1rem;
  border-radius: 0 0 25px 25px;
  background-color: #fff;
  height: 8rem; }
  @media screen and (min-width: 1024px) {
    .header-logo {
      display: none; } }

.header-flex-container {
  max-width: 1115px;
  margin: auto; }
  @media screen and (min-width: 1024px) {
    .header-flex-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px; } }

.header-description-container {
  background-color: #fff;
  border-radius: 0 25px 25px 25px;
  margin: 0 1rem 3rem 1rem;
  padding: 1.5rem; }
  @media screen and (min-width: 1024px) {
    .header-description-container {
      height: fit-content; } }
  .header-description-container__img {
    margin: 0 0 2rem 0; }
  .header-description-container__content-1 {
    margin: 0 0 2rem 0;
    font-weight: bold;
    font-size: 20px; }
  .header-description-container__content-2 {
    margin: 0 0 2rem 0;
    font-size: 16px; }
  .header-description-container__hashtag {
    color: #f49d01;
    font-weight: bold;
    font-size: 20px; }
  @media screen and (min-width: 676px) {
    .header-description-container__btn-flex {
      display: flex; } }

.actualite-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (min-width: 1024px) {
    .actualite-container {
      width: 100%; } }
  .actualite-container__img {
    margin: 0 1rem 2rem 1rem;
    width: 95%; }
  .actualite-container__text {
    padding: 1rem 2rem 1rem 2rem;
    font-size: 20px;
    border-radius: 15px;
    position: relative;
    bottom: 6rem;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 95%; }
  .actualite-container__calendrier {
    display: flex;
    justify-content: end;
    padding-top: 1rem; }
  .actualite-container__logo-calendrier {
    margin: 0 0.5rem 0 0; }
  .actualite-container__carroussel {
    display: flex; }
  .actualite-container__carroussel-btn {
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: #fff;
    margin: 0 1rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
    border: 1px solid #F0F0F0; }
  .actualite-container__carroussel-btn:first-child {
    background-color: #F49D01; }

.bloc-expertise {
  font-weight: bold;
  text-align: center;
  margin: 3rem 0 3rem 0; }
  .bloc-expertise__logo-bloc {
    background-color: #ffffff;
    justify-content: center;
    margin: auto;
    max-width: 250px; }
  .bloc-expertise__logo-text {
    font-size: 32px;
    margin: 1rem; }
  @media screen and (min-width: 1024px) {
    .bloc-expertise__wrap {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px; } }
  .bloc-expertise__item {
    display: flex;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 3rem 2rem 1rem 2rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; }
  .bloc-expertise__item-img {
    width: 20%;
    height: 20%; }
  .bloc-expertise__item-text {
    display: flex;
    margin: 1rem; }

.bloc-partenaire {
  text-align: center;
  margin: 3rem 2rem 1rem 2rem; }
  .bloc-partenaire__logo-text {
    font-size: 32px;
    font-weight: bold;
    margin: 1rem; }
  @media screen and (min-width: 1024px) {
    .bloc-partenaire__wrap {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px; } }
  .bloc-partenaire__item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 0 15px 15px 15px;
    margin: 3rem 2rem 1rem 2rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: start; }
  .bloc-partenaire__text-btn {
    margin: 1rem;
    text-align: center;
    font-weight: bold; }
  .bloc-partenaire__img-btn {
    margin: 1rem; }

.bloc-expert-reconnu {
  max-width: 1115px;
  margin: auto;
  order: 1; }
  @media screen and (min-width: 1024px) {
    .bloc-expert-reconnu {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(1, 1fr);
      grid-column-gap: 0px;
      grid-row-gap: 0px; } }
  .bloc-expert-reconnu__img-loca {
    width: 100%;
    padding: 1rem;
    order: 2; }
  .bloc-expert-reconnu__title {
    margin: 1rem;
    font-size: 24px;
    color: #ff8101; }
  .bloc-expert-reconnu__text-container {
    border-left: 2px solid #ff8101;
    margin: 1rem;
    padding: 1rem; }
  .bloc-expert-reconnu__text-bold {
    font-weight: bold; }

.contain-text-metier {
  margin: 1rem; }
  @media screen and (min-width: 1024px) {
    .contain-text-metier {
      max-width: 1115px;
      margin: auto;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr 5fr;
      grid-column-gap: 30px;
      padding: 1rem; } }
  .contain-text-metier__title-orange {
    display: flex;
    align-items: center;
    color: #f49d01;
    font-size: 20px;
    margin: 2rem 0;
    grid-row: 1;
    grid-column: 1 / span 2; }
    .contain-text-metier__title-orange:before {
      content: "";
      margin-right: 0.5rem;
      height: 20px;
      width: 30px;
      background-color: #f49d01; }
  .contain-text-metier__title {
    font-size: 16px;
    margin-bottom: 1rem; }
  .contain-text-metier__wrap-left {
    grid-row: 2;
    grid-column: 1; }
  .contain-text-metier__wrap-right {
    grid-row: 2;
    grid-column: 2; }

.container-banner-multi {
  padding: 2rem; }
  @media screen and (min-width: 1024px) {
    .container-banner-multi {
      display: flex;
      justify-content: space-around;
      align-items: center;
      position: relative;
      top: 3rem; } }

.container-banner {
  margin: 1rem; }
  @media screen and (min-width: 1024px) {
    .container-banner {
      width: 220px;
      height: 250px; } }
  .container-banner__img {
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .container-banner__img {
        height: 150px; } }
  .container-banner__div-text {
    position: relative;
    bottom: 1rem;
    padding: 1rem;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    width: 100%; }
    @media screen and (min-width: 1024px) {
      .container-banner__div-text {
        width: 220px;
        height: 150px; } }

.container-contact {
  background: linear-gradient(to right, #f49d01, #ff8101);
  padding: 2rem;
  color: white; }
  @media screen and (min-width: 1024px) {
    .container-contact {
      padding: 10rem 5rem 0 5rem;
      display: flex;
      justify-content: space-around; } }
  .container-contact__question1 {
    display: flex;
    margin: 1rem 0 1rem 0; }
  .container-contact__chevron {
    height: 15px;
    margin: 0 1rem 0 0; }
  .container-contact__border-left {
    border-left: 2px dotted white;
    padding: 1rem; }
  .container-contact__text-btn {
    margin: 2rem 0;
    border-radius: 0 15px 15px 15px;
    text-align: center;
    padding: 2rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    color: black; }
    @media screen and (min-width: 1024px) {
      .container-contact__text-btn {
        margin: 0 0 2rem 0;
        text-align: start; } }
  .container-contact__text {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 2rem; }

.bg-w-footer {
  padding: 5rem 0 5rem 0; }
  @media screen and (min-width: 1024px) {
    .bg-w-footer {
      display: none; } }
  .bg-w-footer__liens {
    margin: 2rem 3rem;
    display: flex;
    justify-content: space-between; }
  .bg-w-footer__liens:nth-child(1), .bg-w-footer__liens:nth-child(2) {
    border-bottom: 1px solid rgba(125, 121, 121, 0.314);
    padding-bottom: 1rem; }
  .bg-w-footer__chevron {
    height: 25px; }

.logo-fondasol-footer {
  display: flex;
  flex-direction: column;
  width: 15rem;
  margin: 0 auto; }
  @media screen and (min-width: 1024px) {
    .logo-fondasol-footer {
      width: 10rem; } }
  .logo-fondasol-footer__img-cadenas {
    width: 2rem;
    margin: 1rem auto; }

.reseaux {
  text-align: center; }
  .reseaux__logos {
    margin: 1rem 0 1rem 0; }
  .reseaux__img {
    margin: 0.5rem; }
    @media screen and (min-width: 1024px) {
      .reseaux__img {
        height: 30px;
        width: 30px; } }

.bg-w-footer-desk {
  display: none; }
  @media screen and (min-width: 1024px) {
    .bg-w-footer-desk {
      padding: 3rem 2rem 3rem 2rem;
      display: grid;
      grid-template-columns: 1.5fr repeat(3, 1fr) 2fr;
      grid-template-rows: 1fr;
      grid-column-gap: 30px; } }
  .bg-w-footer-desk__certifications-logos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px; }
  .bg-w-footer-desk__logos-img {
    height: 50px;
    width: 60px; }

.newsletter {
  background-color: rgba(209, 202, 202, 0.323);
  border-radius: 0 15px 15px 15px;
  padding: 1rem;
  height: fit-content;
  width: fit-content;
  margin: auto; }
  .newsletter__flex {
    display: flex; }
  .newsletter__input {
    border: none;
    border-radius: 15px 0 0 15px; }
  .newsletter__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f49d01;
    color: white;
    border: none;
    border-radius: 0 10px 10px 10px;
    padding: 1rem 2rem;
    font-size: 18px;
    font-weight: bold; }

.btn-contact, .btn-all-exp, .btn-decouv-real {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  background-color: #f49d01;
  color: white;
  border: none;
  border-radius: 0 10px 10px 10px;
  padding: 1rem 2rem;
  font-size: 18px;
  font-weight: bold; }

@media screen and (min-width: 1024px) {
  .btn-decouv-real {
    margin: 2rem 2rem 2rem 10rem; } }

.btn-fr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #f49d01;
  color: white;
  border: none;
  border-radius: 0 10px 10px 10px;
  padding: 1rem 2rem;
  font-size: 18px;
  font-weight: bold; }

.btn-consulter, .btn-nos-realisations, .btn-all-actu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  padding: 1rem;
  border: 2px solid #f49d00;
  border-radius: 0 10px 10px 10px;
  color: #f49d00;
  font-weight: bold;
  font-size: 18px;
  background-color: white; }

@media screen and (min-width: 1024px) {
  .btn-consulter, .btn-contact {
    width: 100%;
    margin: 1rem; } }

.btn-size-fr, .btn-size-en {
  width: 40px;
  height: 40px; }

.btn-en {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
  padding: 1rem;
  font-weight: bold;
  font-size: 18px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

span {
  font-weight: bold; }

body {
  overflow-x: hidden; }

.background-color-orange {
  background: linear-gradient(to right, #f49d01, #ff8101);
  padding-bottom: 1rem; }

ul {
  list-style: disc;
  margin: 1rem; }

li {
  margin: 0.5rem; }
  li::marker {
    color: #f49d01; }

/*# sourceMappingURL=style.css.map */
